# Python Programming Language for Data Analysis with Pandas Library


**In this workshop we will analyze the data set with information on return and Morningstar Sustainalytics rating of 2000+ ETF from 2015 to 2021 using the `pandas` library.** 

Python programming language has numerous functions. These functions are organized into modules. Modules are python scripts that contain Python objects. In order to use the objects inside these modules (or commonly known as libraries), we must first import either the entire module or specific objects in it. 

**`pandas` (Python for Data Analysis)** is a popular python library for data analysis. We will use this library extensively in this workshop. This library is automatically installed during Anaconda installation. It is also installed and available on Google Colab or UofT Jupyter Hub. 

Other popular python libraries are **`NumPy` (Numerical Python)** and **`matplotlib`** used for scientific computing and visualization, respectively. We will use these libraries too.

## 1. The Basics

In this section we will learn to do the following using the pandas library:

1. Read the entire data from a csv file or read select columns only
2. Extract basic summary statistics of numeric columns and categorical columns
3. Perform operations on existing column(s) and save result into a new column in the existing data
4. Extract rows based on some condition being satisfied
5. Handle missing values in data

### 1a. Import Libraries and Data

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

Let's take a moment to understand the three lines of code above. 

1. First, the keyword `import` is available directly in Python and is used to find and load the objects of a Python module into the Python environment we are working in. The `import` keyword is followed by the module name we are looking to import. So, here we have imported the `pandas`, the `numpy` and the `matplotlib` libraries. 

2. Often instead of importing the libraries with its original name, we import them with an alias using the `as` keyword. This is useful because everytime we want to use a function inside the library, instead of typing the full name of the module, we can just type the short alias. So `pd` for `pandas` and `np` for numpy and so on. 

Notice that the last line of import is slightly different as it contains a `.`, which is called the **dot operator**:
1. The dot operator is used to access items that are inside of the object. Simply type the name of the object and then `.` followed by the item to access. 
2. Sometimes the Python libraries are so big that they need to be managed inside multiple sub-modules. Each sub-module of a module can be accessed by using the `.`. In this example, `pyplot` sub-module is imported instead of the entire `matplotlib` module. Then, the alias `plt` is given to this sub-module. 

Throughout this tutorial, we will make use of the dot operator like this to access the objects available in a module. Let's begin by using the `.` to access the function `read_csv` available in the pandas library. It allows us to read a csv file.

<span style='color:Blue'> A **function** in python is a block of code that has been attached to a name. So `read_csv`, underneath its name, is a whole bunch of codes that run to ensure the file we want to read is imported into the python environment. We do not need to see these codes but we do need to look at the [documentation](https://pandas.pydata.org/docs/reference/api/pandas.read_csv.html) of the function so that we can understand how to use it. For example, we need to know which parameters the function takes and provide value for at least those parameters that are mandatory. </span>

According to the documentation, the first parameter of `read_csv` is the `filepath_or_buffer`. It is a mandatory parameter and takes as value the path to the file you want to load, including the file name. The parameters and their corresponding values are inserted inside the parenthesis, `( )` which must be placed right next to the function without any spaces.

In [2]:
# import file using the full path including the file name
pd.set_option("display.max_columns", None)
filepath = "C:\\Users\\niti.mishra\\Documents\\2_TDMDAL\\workshop\\RBAC_Pandas_workshop\\ETF_Data_final.csv"
pd.read_csv(filepath_or_buffer=filepath)

,Name,Ticker,Base Currency,Global Broad Category Group,Global Category,Morningstar Category,Investment Area,Fund Size Base Currency,Domicile,month,Monthly Return Base Currency,Total Market Value(Net) Portfolio Currency,asset_class,Morningstar Rating Overall,Carbon Risk Classification,Carbon Risk Score,Corporate Sustainability Percent Rank in Global Category,Fossil Fuel Involvement,Low Carbon Designation,Morningstar Sustainability Rating,Oil & Gas Generation Involvement,Percent of AUM Covered - Carbon,Percent of AUM with High & Severe Controversies,Percent of AUM with High Carbon Risk,Percent of AUM with Low Carbon Risk,Percent of AUM with Medium Carbon Risk,Percent of AUM with Severe Carbon Risk,Percent of AUM with Significant Controversies,Portfolio Environmental Risk Score,Portfolio Governance Risk Score,Portfolio Social Risk Score,Sustainable Investment - ESG Fund Overall,Sustainable Investment - Environmental,Sustainable Investment - Gender & Diversity,Sustainable Investment - Low Carbon/Fossil-Fuel Free,Sustainable Investment - Overall,Sustainable Investment - Renewable Energy,Currency Code,Exchange Rate USD,year
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140224,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,US Fixed Income,US Fund Long Government,NaN,377120802.0,United States,2021-08-01,-0.35501,411727046.0,bond,3.0,NaN,NaN,NaN,0.0,No,NaN,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
140225,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,US Fixed Income,US Fund Long Government,NaN,377120802.0,United States,2021-09-01,-3.89259,401812530.0,bond,3.0,NaN,NaN,NaN,0.0,No,Average,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
140226,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,US Fixed Income,US Fund Long Government,NaN,377120802.0,United States,2021-10-01,4.82857,398416992.0,bond,3.0,NaN,NaN,NaN,0.0,No,Average,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
140227,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,US Fixed Income,US Fund Long Government,NaN,377120802.0,United States,2021-11-01,4.08418,390952594.0,bond,3.0,NaN,NaN,NaN,0.0,No,Average,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
140228,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,US Fixed Income,US Fund Long Government,NaN,377120802.0,United States,2021-12-01,-3.12017,400078305.0,bond,3.0,NaN,NaN,NaN,0.0,No,Average,NaN,0.0,0.0,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021

Here, in the first line of code we created a variable called the filepath and then used that variable as an argument to the parameter `filepath_or_buffer`.

<span style='color:Blue'> A **variable** is an object whose name refers to some value. Python provides the **assignment operator**, `=`, to assign values to a variable. There are some best practices and rules surrounding [naming variables in Python](https://www.w3schools.com/python/gloss_python_variable_names.asp). If naming conventions are not followed properly, you will get an error. </span>

It is particularly helpful to store values as variables, so that we can manipulate them easily. For example, in the second line of code above, we imported the data but we cannot work with this data yet. To do so, we need to save the data into a variable. Let's do that below.

In [3]:
# read data
etf = pd.read_csv('ETF_Data_final.csv')

Now the data is stored in a variable named etf. We can use the `head` function of `pandas` to display the first five rows.

In [4]:
etf.head()

,Name,Ticker,Base Currency,Global Broad Category Group,Global Category,Morningstar Category,Investment Area,Fund Size Base Currency,Domicile,month,Monthly Return Base Currency,Total Market Value(Net) Portfolio Currency,asset_class,Morningstar Rating Overall,Carbon Risk Classification,Carbon Risk Score,Corporate Sustainability Percent Rank in Global Category,Fossil Fuel Involvement,Low Carbon Designation,Morningstar Sustainability Rating,Oil & Gas Generation Involvement,Percent of AUM Covered - Carbon,Percent of AUM with High & Severe Controversies,Percent of AUM with High Carbon Risk,Percent of AUM with Low Carbon Risk,Percent of AUM with Medium Carbon Risk,Percent of AUM with Severe Carbon Risk,Percent of AUM with Significant Controversies,Portfolio Environmental Risk Score,Portfolio Governance Risk Score,Portfolio Social Risk Score,Sustainable Investment - ESG Fund Overall,Sustainable Investment - Environmental,Sustainable Investment - Gender & Diversity,Sustainable Investment - Low Carbon/Fossil-Fuel Free,Sustainable Investment - Overall,Sustainable Investment - Renewable Energy,Currency Code,Exchange Rate USD,year
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021

We can also provide arguments for additional parameters in a function. See example below.

In [5]:
etf = pd.read_csv('ETF_Data_final.csv', sep=",", header=[0,1], index_col=0 )
etf.head()

Name,Ticker,Base Currency,Global Broad Category Group,Global Category,Morningstar Category,Investment Area,Fund Size Base Currency,Domicile,month,Monthly Return Base Currency,Total Market Value(Net) Portfolio Currency,asset_class,Morningstar Rating Overall,Carbon Risk Classification,Carbon Risk Score,Corporate Sustainability Percent Rank in Global Category,Fossil Fuel Involvement,Low Carbon Designation,Morningstar Sustainability Rating,Oil & Gas Generation Involvement,Percent of AUM Covered - Carbon,Percent of AUM with High & Severe Controversies,Percent of AUM with High Carbon Risk,Percent of AUM with Low Carbon Risk,Percent of AUM with Medium Carbon Risk,Percent of AUM with Severe Carbon Risk,Percent of AUM with Significant Controversies,Portfolio Environmental Risk Score,Portfolio Governance Risk Score,Portfolio Social Risk Score,Sustainable Investment - ESG Fund Overall,Sustainable Investment - Environmental,Sustainable Investment - Gender & Diversity,Sustainable Investment - Low Carbon/Fossil-Fuel Free,Sustainable Investment - Overall,Sustainable Investment - Renewable Energy,Currency Code,Exchange Rate USD,year
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,Unnamed: 6_level_1,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,Unnamed: 13_level_1,Unnamed: 14_level_1,Unnamed: 15_level_1,Unnamed: 16_level_1,Unnamed: 17_level_1,Unnamed: 18_level_1,Unnamed: 19_level_1,Unnamed: 20_level_1,Unnamed: 21_level_1,Unnamed: 22_level_1,Unnamed: 23_level_1,Unnamed: 24_level_1,Unnamed: 25_level_1,Unnamed: 26_level_1,Unnamed: 27_level_1,Unnamed: 28_level_1,Unnamed: 29_level_1,Unnamed: 30_level_1,No,No,No,No,No,No,USD,1.0,2020
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2020
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021
AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,US Fixed Income,US Fund Ultrashort Bond,NaN,10002701.0,United States,2021-03-01,0.25450,9377502.0,bond,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,No,No,No,No,No,USD,1.0,2021

1. Notice here I did not specify the parameter `filepath_or_buffer` anymore and it still worked. We do not need to specify the parameter name as long as we retain the order of those parameter. 

2. Adding `sep` parameter here makes no difference because by default "," is the delimiter for csv files but it is helpful from code readability perspective. 

3. The default value for `header` parameter was 0 and here I changed that to 0 and 1, which is why the first and the second rows were used as the column names. This is just for demonstration. Obviously, in our data only the first row qualifies as the header, therefore we do not need to specify this parameter. 

4. Finally, for `index_col` parameter, a value 0 signifies that the first column should be used as the index column. Hence you see that the original pandas index (0, 1, 2, ... 260316) is replaced with the first column "Name".

<span style='color:Blue'> By now you must have noticed that in Python **index** starts from 0 not 1! </span>

Let's re-import the data with the corrections as well as an additional parameter `usecols`, where we can specify the data to import based on column names.

In [6]:
# read select columns only
col_list=['Name', 'Ticker', 'Base Currency', 'Global Broad Category Group',
          'Fund Size Base Currency', 'Domicile', 'month',
          'Monthly Return  Base Currency', 'Total Market Value(Net)  Portfolio Currency', 
          'asset_class', 'Morningstar Rating Overall', 'Carbon Risk Classification',
          'Portfolio Environmental Risk Score', 'Portfolio Governance Risk Score',
          'Portfolio Social Risk Score', 'Currency Code', 'Exchange Rate USD']
etf = pd.read_csv('ETF_Data_final.csv', sep=",", header=0, index_col=None, usecols=col_list)
etf.head()

,Name,Ticker,Base Currency,Global Broad Category Group,Fund Size Base Currency,Domicile,month,Monthly Return Base Currency,Total Market Value(Net) Portfolio Currency,asset_class,Morningstar Rating Overall,Carbon Risk Classification,Portfolio Environmental Risk Score,Portfolio Governance Risk Score,Portfolio Social Risk Score,Currency Code,Exchange Rate USD
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0

Every variable has a data type. For example, a variable created using `pandas`, will be either a `DataFrame` or a `Series`. Since the variable etf above has two dimensions (rows and columns), it is a `DataFrame`. 

<span style='color:Blue'> There are [standard Python](https://upload.wikimedia.org/wikipedia/commons/1/10/Python_3._The_standard_type_hierarchy.png) **data types** and then, there are data types that are borrowed from external Python modules or libraries, such as the `DataFrame`. Data types are important to know because they define what we can do with that variable. Python provides the `type` function to check the data type of a variable. </span>

In [7]:
print(type(filepath))
type(etf)

<class 'str'>

pandas.core.frame.DataFrame

In the first line of code, 
1. `print`, the most commonly used Python function, is used to display the result of an operation on our console.
2. `print` function here displays the result of the function `type` applied on the variable filepath. The printed result tells us that the filepath variable belongs to data type `string`, which is a standard Python data type. 

<span style='color:Blue'> **Strings** are the most complex of the four basic data types available in Python. The other data types are `float`, `integer` and `bool`. Formally, strings are arrays of bytes representing unicode characters, which means characters, symbols, numbers, whitespaces, etc. are all strings. Strings can be created in Python by enclosing just about any characters inside single or double quotes.</span>

In the second line of code, 
1. `print` function is not used because in jupyter notebook, the result of the operation of the last line is by default displayed on the console. 
2. The result tells us that the variable etf belongs to a data type `pandas.core.frame.DataFrame`, in short the `DataFrame`.

A Python built-in function called `dir` lists the available functions to a variable. This is helpful to know what operations are possible on that variable.

In [8]:
dir(etf)

['Domicile',
 'Name',
 'T',
 'Ticker',
 '_AXIS_LEN',
 '_AXIS_ORDERS',
 '_AXIS_REVERSED',
 '_AXIS_TO_AXIS_NUMBER',
 '_HANDLED_TYPES',
 '__abs__',
 '__add__',
 '__and__',
 '__annotations__',
 '__array__',
 '__array_priority__',
 '__array_ufunc__',
 '__array_wrap__',
 '__bool__',
 '__class__',
 '__contains__',
 '__copy__',
 '__deepcopy__',
 '__delattr__',
 '__delitem__',
 '__dict__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__finalize__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattr__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__iand__',
 '__ifloordiv__',
 '__imod__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__invert__',
 '__ior__',
 '__ipow__',
 '__isub__',
 '__iter__',
 '__itruediv__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__matmul__',
 '__mod__',
 '__module__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__nonzero__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rmatmul__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__setitem__',
 '__setstate__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__weakref__',
 '__xor__',
 '_accessors',
 '_accum_func',
 '_add_numeric_operations',
 '_agg_by_level',
 '_agg_examples_doc',
 '_agg_summary_and_see_also_doc',
 '_align_frame',
 '_align_series',
 '_arith_method',
 '_as_manager',
 '_attrs',
 '_box_col_values',
 '_can_fast_transpose',
 '_check_inplace_and_allows_duplicate_labels',
 '_check_inplace_setting',
 '_check_is_chained_assignment_possible',
 '_check_label_or_level_ambiguity',
 '_check_setitem_copy',
 '_clear_item_cache',
 '_clip_with_one_bound',
 '_clip_with_scalar',
 '_cmp_method',
 '_combine_frame',
 '_consolidate',
 '_consolidate_inplace',
 '_construct_axes_dict',
 '_construct_axes_from_arguments',
 '_construct_result',
 '_constructor',
 '_constructor_sliced',
 '_convert',
 '_count_level',
 '_data',
 '_dir_additions',
 '_dir_deletions',
 '_dispatch_frame_op',
 '_drop_axis',
 '_drop_labels_or_levels',
 '_ensure_valid_index',
 '_find_valid_index',
 '_flags',
 '_from_arrays',
 '_from_mgr',
 '_get_agg_axis',
 '_get_axis',
 '_get_axis_name',
 '_get_axis_number',
 '_get_axis_resolvers',
 '_get_block_manager_axis',
 '_get_bool_data',
 '_get_cleaned_column_resolvers',
 '_get_column_array',
 '_get_index_resolvers',
 '_get_item_cache',
 '_get_label_or_level_values',
 '_get_numeric_data',
 '_get_value',
 '_getitem_bool_array',
 '_getitem_multilevel',
 '_gotitem',
 '_hidden_attrs',
 '_indexed_same',
 '_info_axis',
 '_info_axis_name',
 '_info_axis_number',
 '_info_repr',
 '_init_mgr',
 '_inplace_method',
 '_internal_names',
 '_internal_names_set',
 '_is_copy',
 '_is_homogeneous_type',
 '_is_label_or_level_reference',
 '_is_label_reference',
 '_is_level_reference',
 '_is_mixed_type',
 '_is_view',
 '_iset_item',
 '_iset_item_mgr',
 '_iset_not_inplace',
 '_item_cache',
 '_iter_column_arrays',
 '_ixs',
 '_join_compat',
 '_logical_func',
 '_logical_method',
 '_maybe_cache_changed',
 '_maybe_update_cacher',
 '_metadata',
 '_mgr',
 '_min_count_stat_function',
 '_needs_reindex_multi',
 '_protect_consolidate',
 '_reduce',
 '_reindex_axes',
 '_reindex_columns',
 '_reindex_index',
 '_reindex_multi',
 '_reindex_with_indexers',
 '_replace_columnwise',
 '_repr_data_resource_',
 '_repr_fits_horizontal_',
 '_repr_fits_vertical_',
 '_repr_html_',
 '_repr_latex_',
 '_reset_cache',
 '_reset_cacher',
 '_sanitize_column',
 '_series',
 '_set_axis',
 '_set_axis_name',
 '_set_axis_nocheck',
 '_set_is_copy',
 '_set_item',
 '_set_item_frame_value',
 '_set_item_mgr',
 '_set_value',
 '_setitem_array',
 '_setitem_frame',
 '_setitem_slice',
 '_slice',
 '_stat_axis',
 '_stat_axis_name',
 '_stat_axis_number',
 '_stat_function',
 '_stat_function_ddof',
 '_take_with_is_copy',
 '_to_dict_of_blocks',
 '_typ',
 '_update_inplace',
 '_validate_dtype',
 '_values',
 '_where',
 'abs',
 'add',
 'add_prefix',
 'add_suffix',
 'agg',
 'aggregate',
 'align',
 'all',
 'any',
 'append',
 'apply',
 'applymap',
 'asfreq',
 'asof',
 'asset_class',
 'assign',
 'astype',
 'at',
 'at_time',
 'attrs',
 'axes',
 'backfill',
 'between_time',
 'bfill',
 'bool',
 'boxplot',
 'clip',
 'columns',
 'combine',
 'combine_first',
 'compare',
 'convert_dtypes',
 'copy',
 'corr',
 'corrwith',
 'count',
 'cov',
 'cummax',
 'cummin',
 'cumprod',
 'cumsum',
 'describe',
 'diff',
 'div',
 'divide',
 'dot',
 'drop',
 'drop_duplicates',
 'droplevel',
 'dropna',
 'dtypes',
 'duplicated',
 'empty',
 'eq',
 'equals',
 'eval',
 'ewm',
 'expanding',
 'explode',
 'ffill',
 'fillna',
 'filter',
 'first',
 'first_valid_index',
 'flags',
 'floordiv',
 'from_dict',
 'from_records',
 'ge',
 'get',
 'groupby',
 'gt',
 'head',
 'hist',
 'iat',
 'idxmax',
 'idxmin',
 'iloc',
 'index',
 'infer_objects',
 'info',
 'insert',
 'interpolate',
 'isin',
 'isna',
 'isnull',
 'items',
 'iteritems',
 'iterrows',
 'itertuples',
 'join',
 'keys',
 'kurt',
 'kurtosis',
 'last',
 'last_valid_index',
 'le',
 'loc',
 'lookup',
 'lt',
 'mad',
 'mask',
 'max',
 'mean',
 'median',
 'melt',
 'memory_usage',
 'merge',
 'min',
 'mod',
 'mode',
 'month',
 'mul',
 'multiply',
 'ndim',
 'ne',
 'nlargest',
 'notna',
 'notnull',
 'nsmallest',
 'nunique',
 'pad',
 'pct_change',
 'pipe',
 'pivot',
 'pivot_table',
 'plot',
 'pop',
 'pow',
 'prod',
 'product',
 'quantile',
 'query',
 'radd',
 'rank',
 'rdiv',
 'reindex',
 'reindex_like',
 'rename',
 'rename_axis',
 'reorder_levels',
 'replace',
 'resample',
 'reset_index',
 'rfloordiv',
 'rmod',
 'rmul',
 'rolling',
 'round',
 'rpow',
 'rsub',
 'rtruediv',
 'sample',
 'select_dtypes',
 'sem',
 'set_axis',
 'set_flags',
 'set_index',
 'shape',
 'shift',
 'size',
 'skew',
 'slice_shift',
 'sort_index',
 'sort_values',
 'squeeze',
 'stack',
 'std',
 'style',
 'sub',
 'subtract',
 'sum',
 'swapaxes',
 'swaplevel',
 'tail',
 'take',
 'to_clipboard',
 'to_csv',
 'to_dict',
 'to_excel',
 'to_feather',
 'to_gbq',
 'to_hdf',
 'to_html',
 'to_json',
 'to_latex',
 'to_markdown',
 'to_numpy',
 'to_parquet',
 'to_period',
 'to_pickle',
 'to_records',
 'to_sql',
 'to_stata',
 'to_string',
 'to_timestamp',
 'to_xarray',
 'to_xml',
 'transform',
 'transpose',
 'truediv',
 'truncate',
 'tz_convert',
 'tz_localize',
 'unstack',
 'update',
 'value_counts',
 'values',
 'var',
 'where',
 'xs']

### 1b. Exploring Data

The method to list the names of columns of a dataframe is the `columns` method.

In [9]:
etf.columns

Index(['Name', 'Ticker', 'Base Currency', 'Global Broad Category Group',
       'Fund Size Base Currency', 'Domicile', 'month',
       'Monthly Return  Base Currency',
       'Total Market Value(Net)  Portfolio Currency', 'asset_class',
       'Morningstar Rating Overall', 'Carbon Risk Classification',
       'Portfolio Environmental Risk Score', 'Portfolio Governance Risk Score',
       'Portfolio Social Risk Score', 'Currency Code', 'Exchange Rate USD'],
      dtype='object')

We can change the name of the columns by providing the new names in a list and assigning that list to this method `columns`.

In [10]:
etf.columns = ['Name', 'Ticker', 'Base_Currency', 'Global_Broad_Category_Group',
          'Fund_Size_Base_Currency', 'Domicile', 'Month',
          'Monthly_Return_Base_Currency', 'Total_Market_Value_Portfolio_Currency', 
          'Asset_Class', 'Morningstar_Rating_Overall', 'Carbon_Risk_Classification',
          'Portfolio_Environmental_Risk_Score', 'Portfolio_Governance_Risk_Score',
          'Portfolio_Social_Risk_Score', 'Currency_Code', 'Exchange_Rate_USD']
etf.head()

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0

The `info` method of `pandas`, results into a neat display of some useful information of the data.

In [11]:
etf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140229 entries, 0 to 140228
Data columns (total 17 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   140229 non-null  object
 1   Ticker                                 140229 non-null  object
 2   Base_Currency                          140229 non-null  object
 3   Global_Broad_Category_Group            138038 non-null  object
 4   Fund_Size_Base_Currency                138038 non-null  float64
 5   Domicile                               140229 non-null  object
 6   Month                                  140229 non-null  object
 7   Monthly_Return_Base_Currency           140229 non-null  float64
 8   Total_Market_Value_Portfolio_Currency  133999 non-null  float64
 9   Asset_Class                            140229 non-null  object
 10  Morningstar_Rating_Overall             55213 non-null   float64
 11  Carbon_Risk_Classification             46049 non-null   object
 12  Portfolio_Environmental_Risk_Score     61828 non-null   float64
 13  Portfolio_Governance_Risk_Score        61828 non-null   float64
 14  Portfolio_Social_Risk_Score            61828 non-null   float64
 15  Currency_Code                          140229 non-null  object
 16  Exchange_Rate_USD                      140229 non-null  float64
dtypes: float64(8), object(9)
memory usage: 18.2+ MB

1. First, it shows that the data has 260316 rows.
2. These rows are indexed as a range from 0 to 260315. 
3. Then we see that we have imported 14 columns. 
4. For each column, the column index number, column name, number of non-missing values and the data type is given. 

__NOTE:__ In `pandas`, the `object` data type is similar to Python's `string` data type.

Let's explore some more common methods of a `DataFrame`.

In [12]:
etf.describe()

,Fund_Size_Base_Currency,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Morningstar_Rating_Overall,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Exchange_Rate_USD
count,1.380380e+05,140229.000000,1.339990e+05,55213.000000,61828.000000,61828.000000,61828.000000,140229.000000
mean,4.597065e+09,1.374658,4.675294e+09,3.097278,16.979763,18.541801,19.928867,0.999848
std,2.338138e+10,46.356183,3.996640e+10,1.125618,20.475623,19.435186,18.412213,0.093110
min,2.853500e+04,-97.300000,-3.103342e+09,1.000000,0.000000,0.000000,0.000000,0.705283
25%,6.355743e+07,-2.012630,3.846229e+07,2.000000,3.750000,6.800000,8.920000,1.000000
50%,3.091752e+08,0.788210,1.777366e+08,3.000000,5.370000,7.840000,10.240000,1.000000
75%,1.498282e+09,3.743650,9.125456e+08,4.000000,42.180000,44.500000,43.400000,1.000000
max,4.600000e+11,14000.000000,1.350000e+12,5.000000,66.590000,67.910000,65.550000,1.573193

Arithmetic operations can be easily applied on numeric columns. To select numeric columns only `select_dtypes` method can be used and 'number' must be specified.

In [13]:
etf.select_dtypes('number')

,Fund_Size_Base_Currency,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Morningstar_Rating_Overall,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Exchange_Rate_USD
0,10002701.0,0.00281,9563230.0,NaN,NaN,NaN,NaN,1.0
1,10002701.0,0.61405,9615667.0,NaN,NaN,NaN,NaN,1.0
2,10002701.0,0.27885,9633997.0,NaN,NaN,NaN,NaN,1.0
3,10002701.0,0.43888,9173441.0,NaN,NaN,NaN,NaN,1.0
4,10002701.0,-0.13515,9609404.0,NaN,NaN,NaN,NaN,1.0
...,...,...,...,...,...,...,...,...
140224,377120802.0,-0.35501,411727046.0,3.0,NaN,NaN,NaN,1.0
140225,377120802.0,-3.89259,401812530.0,3.0,NaN,NaN,NaN,1.0
140226,377120802.0,4.82857,398416992.0,3.0,NaN,NaN,NaN,1.0
140227,377120802.0,4.08418,390952594.0,3.0,NaN,NaN,NaN,1.0
140228,377120802.0,-3.12017,400078305.0,3.0,NaN,NaN,NaN,1.0

Now we can chain additional methods to perform arithmetic operations. For example `sum` method provides the sum of each column.

In [14]:
etf.select_dtypes('number').sum()

Fund_Size_Base_Currency                  6.345696e+14
Monthly_Return_Base_Currency             1.927669e+05
Total_Market_Value_Portfolio_Currency    6.264847e+14
Morningstar_Rating_Overall               1.710100e+05
Portfolio_Environmental_Risk_Score       1.049825e+06
Portfolio_Governance_Risk_Score          1.146402e+06
Portfolio_Social_Risk_Score              1.232162e+06
Exchange_Rate_USD                        1.402077e+05
dtype: float64

__NOTE:__ If you apply the `sum` method to an object column, it will results in concatenation of the strings in that column. Be careful when doing so because it might hang your kernel, especially if your try to concatenate and/or print a large string on your console.

For object columns, we can explore the number of unique item in the columns and get frequency table using the `nunique` and `value_counts` method respectively.

In [15]:
non_numeric_cols = etf.select_dtypes('object').columns
for i in non_numeric_cols:
    n_uniq = etf[i].nunique()
    print(f'\nNo. of unique values in column {i}: {n_uniq}')
    if n_uniq <10:
        print(etf[i].value_counts())
    print('-'*16)

No. of unique values in column Name: 2628
----------------

No. of unique values in column Ticker: 2321
----------------

No. of unique values in column Base_Currency: 4
US Dollar          120975
Canadian Dollar      9848
Euro                 4745
Pound Sterling       4661
Name: Base_Currency, dtype: int64
----------------

No. of unique values in column Global_Broad_Category_Group: 7
Equity           103913
Fixed Income      14691
Miscellaneous     13900
Commodities        2532
Alternative        2369
Allocation          445
Convertibles        188
Name: Global_Broad_Category_Group, dtype: int64
----------------

No. of unique values in column Domicile: 3
United States     123925
Canada             10542
United Kingdom      5762
Name: Domicile, dtype: int64
----------------

No. of unique values in column Month: 84
----------------

No. of unique values in column Asset_Class: 4
equity         117818
bond            15092
real_estate      3913
commodity        3406
Name: Asset_Class, dtype: int64
----------------

No. of unique values in column Carbon_Risk_Classification: 4
Low Risk           24438
Medium Risk        20513
High Risk            879
Negligible Risk      219
Name: Carbon_Risk_Classification, dtype: int64
----------------

No. of unique values in column Currency_Code: 4
USD       120975
CADUSD      9848
EURUSD      4745
GBPUSD      4661
Name: Currency_Code, dtype: int64
----------------

To extract select columns, we need to index them. In Python square brackets, `[ ]`, are the **index operator**. This indexing role of the square brackets is also extended to the `pandas` module. To use it, we can insert either the index position or the index name of the item we want to extract inside the `[ ]`. Then, we can apply the `sum` method in the resulting subset of the data.

In [16]:
monthlyreturn = etf['Monthly_Return_Base_Currency']
monthlyreturn.sum()

192766.86133

### 1c. Creating New Columns

In our data, we have values of monthly return and portfolio in its base currency and then a exchange rate to USD column is also provided. We can create a new column:
- using the `[ ]`
- providing a new unique name, and 
- assigning the value of some operation to the new column. 

For example, we can multiply the base currency value and the exchange rate to get the values in USD.

In [17]:
etf['monthly_return_USD'] = etf['Monthly_Return_Base_Currency']*etf['Exchange_Rate_USD']
etf['total_market_value_USD'] = etf['Total_Market_Value_Portfolio_Currency']*etf['Exchange_Rate_USD']
etf.tail()

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
140224,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-08-01,-0.35501,411727046.0,bond,3.0,NaN,NaN,NaN,NaN,USD,1.0,-0.35501,411727046.0
140225,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-09-01,-3.89259,401812530.0,bond,3.0,NaN,NaN,NaN,NaN,USD,1.0,-3.89259,401812530.0
140226,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-10-01,4.82857,398416992.0,bond,3.0,NaN,NaN,NaN,NaN,USD,1.0,4.82857,398416992.0
140227,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-11-01,4.08418,390952594.0,bond,3.0,NaN,NaN,NaN,NaN,USD,1.0,4.08418,390952594.0
140228,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-12-01,-3.12017,400078305.0,bond,3.0,NaN,NaN,NaN,NaN,USD,1.0,-3.12017,400078305.0

### 1d. Conditional Indexing

We can use the `tail` method to view the last five rows of the data. Here we see that the last five rows already had base currency as USD. If we want to view the calculation for rows other than where the base currency is USD, we can use conditional indexing for that. Conditional indexing uses conditional expressions that return True or False value for each row based on whether or not the condition is statisfied or not.

In [18]:
etf['Base_Currency'] == 'US Dollar' # is equal to

0         True
1         True
2         True
3         True
4         True
          ...
140224    True
140225    True
140226    True
140227    True
140228    True
Name: Base_Currency, Length: 140229, dtype: bool

In [19]:
etf['Base_Currency'] != 'US Dollar' # is not equal to

0         False
1         False
2         False
3         False
4         False
          ...
140224    False
140225    False
140226    False
140227    False
140228    False
Name: Base_Currency, Length: 140229, dtype: bool

Once we have the Boolean series based out of some conditional expression, we can use that inside the `[ ]` to get only those rows for which the value is True.

In [20]:
etf[etf['Base_Currency'] != 'US Dollar']

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
1198,African Gold Group Inc,AGG,Canadian Dollar,NaN,NaN,Canada,2019-01-01,50.00000,NaN,bond,NaN,NaN,NaN,NaN,NaN,CADUSD,0.760977,38.048850,NaN
1199,Perpetual Energy Inc,AGG,Euro,NaN,NaN,Canada,2019-01-01,93.05556,NaN,bond,NaN,NaN,NaN,NaN,NaN,EURUSD,1.148765,106.898970,NaN
1201,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-02-01,-41.66667,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.760746,-31.697753,4.366050e+10
1202,Perpetual Energy Inc,AGG,Euro,Fixed Income,9.100721e+10,Canada,2019-02-01,30.21583,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,EURUSD,1.138019,34.386189,6.531283e+10
1204,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-03-01,14.28571,5.801132e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.749232,10.703311,4.346394e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139694,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-11-01,-16.81416,3.574117e+06,equity,4.0,Medium Risk,3.66,7.56,9.95,GBPUSD,1.331505,-22.388138,4.758955e+06
139695,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-11-01,-0.83161,5.720628e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.785053,-0.652858,4.490996e+08
139697,X-Terra Resources Inc,XTR,Euro,Equity,3.625845e+06,Canada,2021-12-01,-34.48276,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,EURUSD,1.132503,-39.051829,4.089528e+06
139698,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-12-01,15.95745,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,GBPUSD,1.349837,21.539956,4.874333e+06
139699,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-12-01,2.75050,5.777949e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.784658,2.158202,4.533714e+08

Multiple conditions can also combined such that the resulting row satisfies all provided conditions. Each condition can be combined using the `&` operator.

In [21]:
condition1 = etf['Base_Currency'] != 'US Dollar'
condition2 = etf['Monthly_Return_Base_Currency'].notna()
etf[condition1 & condition2]

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
1198,African Gold Group Inc,AGG,Canadian Dollar,NaN,NaN,Canada,2019-01-01,50.00000,NaN,bond,NaN,NaN,NaN,NaN,NaN,CADUSD,0.760977,38.048850,NaN
1199,Perpetual Energy Inc,AGG,Euro,NaN,NaN,Canada,2019-01-01,93.05556,NaN,bond,NaN,NaN,NaN,NaN,NaN,EURUSD,1.148765,106.898970,NaN
1201,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-02-01,-41.66667,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.760746,-31.697753,4.366050e+10
1202,Perpetual Energy Inc,AGG,Euro,Fixed Income,9.100721e+10,Canada,2019-02-01,30.21583,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,EURUSD,1.138019,34.386189,6.531283e+10
1204,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-03-01,14.28571,5.801132e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.749232,10.703311,4.346394e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139694,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-11-01,-16.81416,3.574117e+06,equity,4.0,Medium Risk,3.66,7.56,9.95,GBPUSD,1.331505,-22.388138,4.758955e+06
139695,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-11-01,-0.83161,5.720628e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.785053,-0.652858,4.490996e+08
139697,X-Terra Resources Inc,XTR,Euro,Equity,3.625845e+06,Canada,2021-12-01,-34.48276,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,EURUSD,1.132503,-39.051829,4.089528e+06
139698,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-12-01,15.95745,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,GBPUSD,1.349837,21.539956,4.874333e+06
139699,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-12-01,2.75050,5.777949e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.784658,2.158202,4.533714e+08

If we did not specify a new variable for each condition then they must be placed inside parenthesis.

In [22]:
etf[(etf['Base_Currency'] != 'US Dollar') & (etf['Monthly_Return_Base_Currency'].notna())]

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
1198,African Gold Group Inc,AGG,Canadian Dollar,NaN,NaN,Canada,2019-01-01,50.00000,NaN,bond,NaN,NaN,NaN,NaN,NaN,CADUSD,0.760977,38.048850,NaN
1199,Perpetual Energy Inc,AGG,Euro,NaN,NaN,Canada,2019-01-01,93.05556,NaN,bond,NaN,NaN,NaN,NaN,NaN,EURUSD,1.148765,106.898970,NaN
1201,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-02-01,-41.66667,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.760746,-31.697753,4.366050e+10
1202,Perpetual Energy Inc,AGG,Euro,Fixed Income,9.100721e+10,Canada,2019-02-01,30.21583,5.739169e+10,bond,3.0,NaN,NaN,NaN,NaN,EURUSD,1.138019,34.386189,6.531283e+10
1204,African Gold Group Inc,AGG,Canadian Dollar,Fixed Income,9.100721e+10,Canada,2019-03-01,14.28571,5.801132e+10,bond,3.0,NaN,NaN,NaN,NaN,CADUSD,0.749232,10.703311,4.346394e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139694,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-11-01,-16.81416,3.574117e+06,equity,4.0,Medium Risk,3.66,7.56,9.95,GBPUSD,1.331505,-22.388138,4.758955e+06
139695,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-11-01,-0.83161,5.720628e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.785053,-0.652858,4.490996e+08
139697,X-Terra Resources Inc,XTR,Euro,Equity,3.625845e+06,Canada,2021-12-01,-34.48276,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,EURUSD,1.132503,-39.051829,4.089528e+06
139698,Xtract Resources PLC,XTR,Pound Sterling,Equity,3.625845e+06,United Kingdom,2021-12-01,15.95745,3.611053e+06,equity,4.0,Medium Risk,5.60,5.90,8.35,GBPUSD,1.349837,21.539956,4.874333e+06
139699,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,5.780094e+08,Canada,2021-12-01,2.75050,5.777949e+08,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.784658,2.158202,4.533714e+08

In [23]:
etf[etf['Ticker']=='VTI']['Base_Currency'].unique()

array(['Canadian Dollar', 'US Dollar'], dtype=object)

### 1e. Missing Values

`NaN` is the default missing value indicator in pandas. Many methods are provided to check missing values and manipulate them accordingly.

In [24]:
etf.isna()

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
0,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140224,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
140225,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
140226,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
140227,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False
140228,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,False,False,False,False

In [25]:
etf.isna().sum()

Name                                         0
Ticker                                       0
Base_Currency                                0
Global_Broad_Category_Group               2191
Fund_Size_Base_Currency                   2191
Domicile                                     0
Month                                        0
Monthly_Return_Base_Currency                 0
Total_Market_Value_Portfolio_Currency     6230
Asset_Class                                  0
Morningstar_Rating_Overall               85016
Carbon_Risk_Classification               94180
Portfolio_Environmental_Risk_Score       78401
Portfolio_Governance_Risk_Score          78401
Portfolio_Social_Risk_Score              78401
Currency_Code                                0
Exchange_Rate_USD                            0
monthly_return_USD                           0
total_market_value_USD                    6230
dtype: int64

We can utilize arithmetic operators to calculate the percentage of missing values for each columns. This is a helpful information in deciding what to do with columns with large missing values.

In [26]:
etf.shape[0]

140229

In [27]:
etf.isna().sum()/etf.shape[0]

Name                                     0.000000
Ticker                                   0.000000
Base_Currency                            0.000000
Global_Broad_Category_Group              0.015624
Fund_Size_Base_Currency                  0.015624
Domicile                                 0.000000
Month                                    0.000000
Monthly_Return_Base_Currency             0.000000
Total_Market_Value_Portfolio_Currency    0.044427
Asset_Class                              0.000000
Morningstar_Rating_Overall               0.606265
Carbon_Risk_Classification               0.671616
Portfolio_Environmental_Risk_Score       0.559093
Portfolio_Governance_Risk_Score          0.559093
Portfolio_Social_Risk_Score              0.559093
Currency_Code                            0.000000
Exchange_Rate_USD                        0.000000
monthly_return_USD                       0.000000
total_market_value_USD                   0.044427
dtype: float64

In [28]:
(etf.isna().sum()/etf.shape[0])*100

Name                                      0.000000
Ticker                                    0.000000
Base_Currency                             0.000000
Global_Broad_Category_Group               1.562444
Fund_Size_Base_Currency                   1.562444
Domicile                                  0.000000
Month                                     0.000000
Monthly_Return_Base_Currency              0.000000
Total_Market_Value_Portfolio_Currency     4.442733
Asset_Class                               0.000000
Morningstar_Rating_Overall               60.626547
Carbon_Risk_Classification               67.161571
Portfolio_Environmental_Risk_Score       55.909263
Portfolio_Governance_Risk_Score          55.909263
Portfolio_Social_Risk_Score              55.909263
Currency_Code                             0.000000
Exchange_Rate_USD                         0.000000
monthly_return_USD                        0.000000
total_market_value_USD                    4.442733
dtype: float64

The resulting data type here is a pandas `Series` and thus, we can use this data type to create a conditional expression. For example, we can select only those rows (i.e. columns names here) that have greater than 50% missing value using this result. We may use this threshold to remove the columns from the data altogether.

In [29]:
cond_to_remove = (etf.isna().sum()/etf.shape[0]) >.50
etf[etf.columns[cond_to_remove]]

,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score
0,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...
140224,3.0,NaN,NaN,NaN,NaN
140225,3.0,NaN,NaN,NaN,NaN
140226,3.0,NaN,NaN,NaN,NaN
140227,3.0,NaN,NaN,NaN,NaN
140228,3.0,NaN,NaN,NaN,NaN

Whether or not to remove missing values from data, depends on many thing including how much data you will have left after removing the missing value. We can use `dropna` method to remove all rows or all columns that have at least one missing value.

In [30]:
etf.dropna().shape # does not replace the original dataframe

(35012, 19)

In [31]:
etf.dropna(axis=1).shape # does not replace the original dataframe

(140229, 10)

In [32]:
etf.shape

(140229, 19)

We see that removing missing values like this leaves us with either only 9403 rows or only 8 columns. Since we want to be able to use the data that we have, this is not the best way of handling missing data in our case. We can replace the missing value with some other reasonable value using the `fillna` method.

In [33]:
etf.fillna(value='notsure') # does not replace the original dataframe

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,notsure,notsure,notsure,notsure,notsure,USD,1.0,0.00281,9563230.0
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,notsure,notsure,notsure,notsure,notsure,USD,1.0,0.61405,9615667.0
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,notsure,notsure,notsure,notsure,notsure,USD,1.0,0.27885,9633997.0
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,notsure,notsure,notsure,notsure,notsure,USD,1.0,0.43888,9173441.0
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,notsure,notsure,notsure,notsure,notsure,USD,1.0,-0.13515,9609404.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
140224,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-08-01,-0.35501,411727046.0,bond,3.0,notsure,notsure,notsure,notsure,USD,1.0,-0.35501,411727046.0
140225,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-09-01,-3.89259,401812530.0,bond,3.0,notsure,notsure,notsure,notsure,USD,1.0,-3.89259,401812530.0
140226,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-10-01,4.82857,398416992.0,bond,3.0,notsure,notsure,notsure,notsure,USD,1.0,4.82857,398416992.0
140227,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-11-01,4.08418,390952594.0,bond,3.0,notsure,notsure,notsure,notsure,USD,1.0,4.08418,390952594.0
140228,PIMCO 25+ Year Zero Coupon US Trs ETF,ZROZ,US Dollar,Fixed Income,377120802.0,United States,2021-12-01,-3.12017,400078305.0,bond,3.0,notsure,notsure,notsure,notsure,USD,1.0,-3.12017,400078305.0

We can specify additional condition in the `dropna` method to remove values. For example we can specify a list of columns such that if they have values those rows should not be removed even if other columns for that row is missing.

In [34]:
etf.dropna(subset=['Monthly_Return_Base_Currency','Total_Market_Value_Portfolio_Currency'], inplace=True)
etf.shape

(133999, 19)

__NOTE:__ Notice that we added additional parameter `inplace` and set it value to be True. This changes the data in-place. Hence we do not need to reassign the result to the variable etf.

Now, lets create a new columns that converts the total market value into millions.

In [35]:
etf['total_mkt_val_net_USD_millions'] = etf['total_market_value_USD']/1000000

## 2. Data Transformations

In this section we will learn to transform the data in the following ways using the pandas library:

1. Group the data based on a category, apply some operation to each category and combine the results together
2. Save the results of some operation to a csv file
3. Convert time data into a datetime object and manipulate specific aspects of that time
4. Create excel-like pivot table from the data

### 2a. Groupby

Often we want to analyze data by some categories. We want to group the data by category and run some operation separately on each category and combine the final results for each category and store them. For that pandas provides the `groupby` method.

In [36]:
gbc_grouped = etf.groupby('Global_Broad_Category_Group')
gbc_grouped

Once you create a `groupby` object, you now have access to many methods that provide some basic attribute of each group.

In [37]:
gbc_grouped.ngroups

7

In [38]:
gbc_grouped.groups

{'Allocation': [14979, 14980, 14981, 14982, 14983, 14984, 14985, 14986, 14987, 14988, 14989, 14990, 14991, 14992, 14993, 14994, 14995, 14996, 14997, 14998, 14999, 15000, 15001, 15002, 15003, 15004, 15005, 15006, 15007, 15008, 15009, 15010, 15011, 15012, 15013, 15014, 15015, 15016, 15017, 15018, 15019, 15020, 15021, 15022, 15023, 15024, 15025, 15026, 15027, 15028, 15029, 15030, 15031, 15032, 15033, 15034, 15035, 15036, 15037, 15038, 15039, 15040, 15041, 15042, 15043, 15044, 15045, 15046, 15047, 15048, 15049, 15050, 15051, 15052, 15053, 15054, 15055, 15056, 15057, 15058, 15059, 15060, 15061, 15062, 15587, 15588, 15589, 15590, 15591, 15592, 15593, 15594, 15595, 15596, 15597, 15598, 15599, 15600, 15601, 15602, ...], 'Alternative': [2692, 2693, 2694, 2695, 2696, 2697, 2698, 2699, 2700, 3726, 3727, 3728, 3729, 3730, 3731, 3732, 3733, 3734, 3735, 3736, 3737, 3738, 3739, 3740, 3741, 3742, 4045, 4046, 4047, 4048, 4049, 4050, 4051, 4052, 4053, 4054, 4055, 4056, 4057, 4058, 4059, 4060, 4061, 4062, 4063, 4064, 4065, 4066, 4067, 4068, 4069, 4070, 4071, 4072, 4073, 4074, 4075, 4076, 4077, 4078, 4079, 4080, 4081, 4082, 4083, 4084, 4085, 4086, 4087, 4088, 4089, 4090, 4091, 4092, 4093, 4094, 4095, 4096, 4097, 4098, 4099, 4100, 4101, 4102, 4103, 4104, 4105, 4106, 4107, 4108, 4109, 4110, 4111, 4112, 4113, 4114, 4115, 4116, 4117, 4118, ...], 'Commodities': [15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 4299, 4300, 4301, 4302, 4303, 4304, 4305, 4306, 4307, 4308, 4309, 4310, 4311, 4312, 4313, 4314, 4315, 4316, 4317, 4318, 4319, 4320, 4321, 4322, 4323, 4324, 4325, 4326, 4327, 4328, 4329, 4330, 4331, 4332, 4333, 4334, 4335, 4336, 4337, 4338, 4339, 4340, 4341, 4342, 4343, 4344, 4345, 4346, 4347, 4348, 4349, 4350, 4351, 4352, 4353, 4354, 4355, 4356, 4357, ...], 'Convertibles': [15065, 15066, 15067, 15068, 15069, 15070, 15071, 15072, 15073, 15074, 15075, 15076, 15077, 15078, 15079, 15080, 15081, 15082, 15083, 15084, 15085, 15086, 15087, 15088, 15089, 15090, 15091, 15092, 15093, 15094, 15095, 15096, 15097, 15098, 15099, 15100, 15101, 15102, 15103, 15104, 15105, 15106, 15107, 15108, 15109, 15110, 15111, 15112, 15113, 15114, 15115, 15116, 15117, 15118, 15119, 15120, 15121, 15122, 15123, 15124, 15125, 15126, 15127, 15128, 15129, 15130, 15131, 15132, 15133, 15134, 15135, 15136, 15137, 15138, 15139, 15140, 15141, 15142, 15143, 15144, 15145, 15146, 15147, 15148, 15149, 15150, 15151, 15152, 15153, 15154, 15155, 15156, 15157, 15158, 15159, 15160, 15161, 15162, 15163, 15164, ...], 'Equity': [56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, ...], 'Fixed Income': [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 895, 896, 897, 898, 899, 900, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 1200, 1201, 1202, 1203, 1204, 1205, 1206, 1207, 1208, 1209, 1210, 1211, 1212, 1213, 1214, 1215, 1216, 1217, 1218, 1219, 1220, 1221, 1222, 1223, 1224, 1225, 1226, ...], 'Miscellaneous': [4039, 4040, 4041, 4042, 4043, 4044, 5975, 5976, 5977, 5978, 5979, 5980, 5981, 5982, 5983, 5984, 5985, 5986, 5987, 5988, 5989, 5990, 5991, 5992, 5993, 5994, 5995, 5996, 5997, 5998, 5999, 6000, 6001, 6002, 6003, 6004, 6005, 6006, 6007, 6008, 6009, 6010, 6011, 6012, 6013, 6014, 6015, 6016, 6017, 6018, 6019, 6020, 6021, 6022, 6023, 6024, 6025, 6026, 6027, 6028, 6029, 6030, 6031, 6032, 6033, 6034, 6035, 6036, 6037, 6038, 6039, 6040, 6041, 6042, 6043, 6044, 6045, 6046, 6047, 6048, 6049, 6050, 6051, 6052, 6053, 6054, 6055, 6056, 6372, 6373, 6374, 6375, 6376, 6377, 6378, 6379, 6380, 6381, 6382, 6383, ...]}

In [39]:
gbc_grouped.size()

Global_Broad_Category_Group
Allocation          445
Alternative        2369
Commodities        1670
Convertibles        188
Equity           101599
Fixed Income      14674
Miscellaneous     13054
dtype: int64

In [40]:
gbc_grouped.get_group('Allocation')

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD,total_mkt_val_net_USD_millions
14979,Invesco Zacks Multi-Asset Income ETF,CVY,US Dollar,Allocation,131052666.0,United States,2015-01-01,-1.87751,941761752.0,equity,NaN,NaN,NaN,NaN,NaN,USD,1.000000,-1.877510,9.417618e+08,941.761752
14980,Invesco Zacks Multi-Asset Income ETF,CVY,US Dollar,Allocation,131052666.0,United States,2015-02-01,4.00911,926717975.0,equity,NaN,NaN,NaN,NaN,NaN,USD,1.000000,4.009110,9.267180e+08,926.717975
14981,Invesco Zacks Multi-Asset Income ETF,CVY,US Dollar,Allocation,131052666.0,United States,2015-03-01,-2.13858,870356742.0,equity,NaN,NaN,NaN,NaN,NaN,USD,1.000000,-2.138580,8.703567e+08,870.356742
14982,Invesco Zacks Multi-Asset Income ETF,CVY,US Dollar,Allocation,131052666.0,United States,2015-04-01,2.71985,864941829.0,equity,NaN,NaN,NaN,NaN,NaN,USD,1.000000,2.719850,8.649418e+08,864.941829
14983,Invesco Zacks Multi-Asset Income ETF,CVY,US Dollar,Allocation,131052666.0,United States,2015-05-01,-1.85349,806425940.0,equity,NaN,NaN,NaN,NaN,NaN,USD,1.000000,-1.853490,8.064259e+08,806.425940
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139683,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,578009366.0,Canada,2021-08-01,0.45727,580426157.0,equity,4.0,Medium Risk,5.71,5.99,8.27,CADUSD,0.793091,0.362657,4.603308e+08,460.330761
139687,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,578009366.0,Canada,2021-09-01,-1.03786,574616992.0,equity,4.0,Medium Risk,5.67,6.01,8.44,CADUSD,0.784080,-0.813765,4.505457e+08,450.545691
139691,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,578009366.0,Canada,2021-10-01,0.90534,578909042.0,equity,4.0,Medium Risk,5.61,5.97,8.42,CADUSD,0.807363,0.730938,4.673897e+08,467.389741
139695,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,578009366.0,Canada,2021-11-01,-0.83161,572062800.0,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.785053,-0.652858,4.490996e+08,449.099617
139699,iShares Diversified Monthly Income ETF,XTR,Canadian Dollar,Allocation,578009366.0,Canada,2021-12-01,2.75050,577794867.0,equity,4.0,Medium Risk,5.60,5.90,8.35,CADUSD,0.784658,2.158202,4.533714e+08,453.371365

Other methods include methods to perform some operation on each group.

In [41]:
etf.groupby('Global_Broad_Category_Group').mean()

,Fund_Size_Base_Currency,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Morningstar_Rating_Overall,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD,total_mkt_val_net_USD_millions
Global_Broad_Category_Group,,,,,,,,,,,
Allocation,3.334037e+08,1.661621,3.822497e+08,3.126214,22.084481,23.889434,23.761698,0.989067,1.920439,4.045470e+08,404.546969
Alternative,1.125089e+08,1.375287,7.293060e+07,2.845387,5.600099,9.174909,11.681906,0.997079,1.473401,7.285129e+07,72.851287
Commodities,8.206154e+09,0.475158,5.629811e+09,2.997680,13.127609,15.645652,17.377174,1.003207,0.418166,5.136039e+09,5136.038563
Convertibles,3.862972e+09,2.159548,3.161591e+09,3.797753,13.472500,15.098936,17.625213,0.984294,2.234969,3.091857e+09,3091.857062
Equity,5.428320e+09,1.418033,5.430691e+09,3.075108,16.893656,18.415592,19.746879,0.999179,1.395367,5.379282e+09,5379.281538
Fixed Income,3.693622e+09,1.029937,3.945527e+09,3.164708,20.350101,21.943727,23.460402,0.995856,1.070217,3.946120e+09,3946.120236
Miscellaneous,5.702029e+08,0.821447,4.976443e+08,3.597734,20.252644,21.026690,22.456569,1.005908,0.714952,5.660099e+08,566.009873

If we want to get the result for single columns, we can do so by indexing the column(s) first and then adding the method to perform that operation.

In [42]:
etf.groupby('Global_Broad_Category_Group')['total_mkt_val_net_USD_millions'].mean()

Global_Broad_Category_Group
Allocation        404.546969
Alternative        72.851287
Commodities      5136.038563
Convertibles     3091.857062
Equity           5379.281538
Fixed Income     3946.120236
Miscellaneous     566.009873
Name: total_mkt_val_net_USD_millions, dtype: float64

Multiple operations can also be performed at once on each group by using the `agg` method and then providing the name of operation in a list.

In [43]:
etf.groupby('Global_Broad_Category_Group')['total_mkt_val_net_USD_millions'].agg(['mean', 'std'])

                                    mean           std
Global_Broad_Category_Group
Allocation                    404.546969    316.821230
Alternative                    72.851287     82.090973
Commodities                  5136.038563  12089.503111
Convertibles                 3091.857062   2574.825167
Equity                       5379.281538  45583.650198
Fixed Income                 3946.120236  17378.715861
Miscellaneous                 566.009873   4122.552631

We can also group the data based on more than one category. We simple provide the columns to groupby in a list.

In [49]:
etf.groupby(['Asset_Class','Global_Broad_Category_Group'])['total_mkt_val_net_USD_millions'].mean()

Asset_Class  Global_Broad_Category_Group
bond         Alternative                         7.924998
             Commodities                       247.626479
             Convertibles                     3091.857062
             Equity                         494146.680654
             Fixed Income                     4147.644304
             Miscellaneous                    5000.399193
commodity    Alternative                         9.878852
             Commodities                      5168.451181
             Equity                            269.478134
             Miscellaneous                      87.051529
equity       Allocation                        404.546969
             Alternative                        74.042318
             Equity                           4742.378931
             Fixed Income                      194.216262
             Miscellaneous                     349.206083
real_estate  Equity                           2523.073199
             Miscellaneous                      60.511550
Name: total_mkt_val_net_USD_millions, dtype: float64

By default, `groupby` operation with create index as the group categories. We can reset the index to a range index by adding a parameter `as_index` and setting it to `False`.

In [50]:
etf.groupby(['Asset_Class','Global_Broad_Category_Group'],
            as_index=False)['total_mkt_val_net_USD_millions'].mean()

    Asset_Class Global_Broad_Category_Group  total_mkt_val_net_USD_millions
0          bond                 Alternative                        7.924998
1          bond                 Commodities                      247.626479
2          bond                Convertibles                     3091.857062
3          bond                      Equity                   494146.680654
4          bond                Fixed Income                     4147.644304
5          bond               Miscellaneous                     5000.399193
6     commodity                 Alternative                        9.878852
7     commodity                 Commodities                     5168.451181
8     commodity                      Equity                      269.478134
9     commodity               Miscellaneous                       87.051529
10       equity                  Allocation                      404.546969
11       equity                 Alternative                       74.042318
12       equity                      Equity                     4742.378931
13       equity                Fixed Income                      194.216262
14       equity               Miscellaneous                      349.206083
15  real_estate                      Equity                     2523.073199
16  real_estate               Miscellaneous                       60.511550

This doesn't however work if you are performing some operation using the `agg` method.

In [51]:
etf.groupby(['Asset_Class','Global_Broad_Category_Group'],
            as_index=False)['total_mkt_val_net_USD_millions'].agg(['mean'])

                                                  mean
Asset_Class Global_Broad_Category_Group
bond        Alternative                       7.924998
            Commodities                     247.626479
            Convertibles                   3091.857062
            Equity                       494146.680654
            Fixed Income                   4147.644304
            Miscellaneous                  5000.399193
commodity   Alternative                       9.878852
            Commodities                    5168.451181
            Equity                          269.478134
            Miscellaneous                    87.051529
equity      Allocation                      404.546969
            Alternative                      74.042318
            Equity                         4742.378931
            Fixed Income                    194.216262
            Miscellaneous                   349.206083
real_estate Equity                         2523.073199
            Miscellaneous                    60.511550

### 2b. Copying and Saving Results

Results of any operation can be saved in some format. For example, a table-like `DataFrame` can easily be saved into excel or csv data format. Many other data formats are also supported. `to_csv` method can be used to save a DataFrame into a csv file. We can provide the full path and the name of the file to save the data or if we simply provide the file name only, the data will be saved in the same directory as the notebook.

In [52]:
asset_global_categ_grouped = etf.groupby(['Asset_Class',
                                          'Global_Broad_Category_Group']
                                        )['total_mkt_val_net_USD_millions'].agg(['mean', 'std'])
asset_global_categ_grouped

                                                  mean            std
Asset_Class Global_Broad_Category_Group
bond        Alternative                       7.924998       5.582210
            Commodities                     247.626479     111.623599
            Convertibles                   3091.857062    2574.825167
            Equity                       494146.680654  574885.828899
            Fixed Income                   4147.644304   17816.974319
            Miscellaneous                  5000.399193   17265.679447
commodity   Alternative                       9.878852       4.583233
            Commodities                    5168.451181   12122.957138
            Equity                          269.478134     207.073007
            Miscellaneous                    87.051529      76.873681
equity      Allocation                      404.546969     316.821230
            Alternative                      74.042318      82.370240
            Equity                         4742.378931   35949.569084
            Fixed Income                    194.216262     184.123367
            Miscellaneous                   349.206083     892.963341
real_estate Equity                         2523.073199    9910.311274
            Miscellaneous                    60.511550      56.514126

In [59]:
asset_global_categ_grouped.to_csv('assetclass_grouped.csv')

### 2c. DateTime

Now, we will look at another very common and complex data type, the `datatime`. Note that we have the column Month in our data, which is currently stored as an object. We can convert this to string using `str` method and then perform any string operation to each row. For example, we can split the string on "-" that seperates the year and the month. Using `expand=True` argument will provide the each split in its own columns instead of a list of two splits in one column.

In [54]:
etf['Month'].str.split('-', expand=True)

           0   1   2
0       2020  10  01
1       2020  11  01
2       2020  12  01
3       2021  01  01
4       2021  02  01
...      ...  ..  ..
140224  2021  08  01
140225  2021  09  01
140226  2021  10  01
140227  2021  11  01
140228  2021  12  01

[133999 rows x 3 columns]

Now let's think about, what if we can store this information in a way that is smart enough to know the year, the month and other details pertaining to this date? We can do that using the `to_datetime` method offered in `pandas`.

In [55]:
etf['date'] = pd.to_datetime(etf['Month'],format='%Y-%m-%d', errors='coerce')
etf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133999 entries, 0 to 140228
Data columns (total 21 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   133999 non-null  object
 1   Ticker                                 133999 non-null  object
 2   Base_Currency                          133999 non-null  object
 3   Global_Broad_Category_Group            133999 non-null  object
 4   Fund_Size_Base_Currency                133999 non-null  float64
 5   Domicile                               133999 non-null  object
 6   Month                                  133999 non-null  object
 7   Monthly_Return_Base_Currency           133999 non-null  float64
 8   Total_Market_Value_Portfolio_Currency  133999 non-null  float64
 9   Asset_Class                            133999 non-null  object
 10  Morningstar_Rating_Overall             55007 non-null   float64
 11  Carbon_Risk_Classification             45990 non-null   object
 12  Portfolio_Environmental_Risk_Score     61783 non-null   float64
 13  Portfolio_Governance_Risk_Score        61783 non-null   float64
 14  Portfolio_Social_Risk_Score            61783 non-null   float64
 15  Currency_Code                          133999 non-null  object
 16  Exchange_Rate_USD                      133999 non-null  float64
 17  monthly_return_USD                     133999 non-null  float64
 18  total_market_value_USD                 133999 non-null  float64
 19  total_mkt_val_net_USD_millions         133999 non-null  float64
 20  date                                   133999 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(11), object(9)
memory usage: 22.5+ MB

The `to_datetime` method of `pandas` is actually an extension of the Python's `datetime` module. The `format` parameter takes specific values that help the program understand the format the date is presented in our data. Here is [a list of possible values](https://strftime.org/). 

Now that the column Month is a `datetime` object, it offers us additional methods to easily extract the year, the month and so on. We can use `year` and create a new columns in our `DataFrame`, which will store that year value for each row. We can do the same for other available aspect of this date.

In [56]:
etf['month'] = etf['date'].dt.month
etf['year'] = etf['date'].dt.year
etf.head()

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD,total_mkt_val_net_USD_millions,date,month,year
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.00281,9563230.0,9.563230,2020-10-01,10,2020
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.61405,9615667.0,9.615667,2020-11-01,11,2020
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.27885,9633997.0,9.633997,2020-12-01,12,2020
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.43888,9173441.0,9.173441,2021-01-01,1,2021
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,-0.13515,9609404.0,9.609404,2021-02-01,2,2021

In [57]:
etf.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 133999 entries, 0 to 140228
Data columns (total 23 columns):
 #   Column                                 Non-Null Count   Dtype
---  ------                                 --------------   -----
 0   Name                                   133999 non-null  object
 1   Ticker                                 133999 non-null  object
 2   Base_Currency                          133999 non-null  object
 3   Global_Broad_Category_Group            133999 non-null  object
 4   Fund_Size_Base_Currency                133999 non-null  float64
 5   Domicile                               133999 non-null  object
 6   Month                                  133999 non-null  object
 7   Monthly_Return_Base_Currency           133999 non-null  float64
 8   Total_Market_Value_Portfolio_Currency  133999 non-null  float64
 9   Asset_Class                            133999 non-null  object
 10  Morningstar_Rating_Overall             55007 non-null   float64
 11  Carbon_Risk_Classification             45990 non-null   object
 12  Portfolio_Environmental_Risk_Score     61783 non-null   float64
 13  Portfolio_Governance_Risk_Score        61783 non-null   float64
 14  Portfolio_Social_Risk_Score            61783 non-null   float64
 15  Currency_Code                          133999 non-null  object
 16  Exchange_Rate_USD                      133999 non-null  float64
 17  monthly_return_USD                     133999 non-null  float64
 18  total_market_value_USD                 133999 non-null  float64
 19  total_mkt_val_net_USD_millions         133999 non-null  float64
 20  date                                   133999 non-null  datetime64[ns]
 21  month                                  133999 non-null  int64
 22  year                                   133999 non-null  int64
dtypes: datetime64[ns](1), float64(11), int64(2), object(9)
memory usage: 24.5+ MB

__Note:__ One great thing about having a `datetime` index is the ability to easily extract data for a specified time period.

In [74]:
etf_ts = etf[['Asset_Class','date','total_mkt_val_net_USD_millions', 'monthly_return_USD']]
etf_ts.set_index('date', inplace=True)
etf_ts.head()

           Asset_Class  total_mkt_val_net_USD_millions  monthly_return_USD
date
2020-10-01        bond                        9.563230             0.00281
2020-11-01        bond                        9.615667             0.61405
2020-12-01        bond                        9.633997             0.27885
2021-01-01        bond                        9.173441             0.43888
2021-02-01        bond                        9.609404            -0.13515

In [76]:
etf_ts.loc['2015']

           Asset_Class  total_mkt_val_net_USD_millions  monthly_return_USD
date
2015-01-01      equity                       15.658571            -2.04852
2015-02-01      equity                       16.563206             7.53990
2015-03-01      equity                       16.421457            -0.81181
2015-04-01      equity                       17.393306             4.27019
2015-05-01      equity                       16.317634            -0.17374
...                ...                             ...                 ...
2015-08-01      equity                        8.522526            11.12743
2015-09-01      equity                       13.603296            -0.09914
2015-10-01      equity                       13.603296            -8.10453
2015-11-01      equity                       13.603296             1.69186
2015-12-01      equity                        8.751789             3.29204

[11684 rows x 3 columns]

In [83]:
etf_ts.loc['2015-01':'2016-12']

           Asset_Class  total_mkt_val_net_USD_millions  monthly_return_USD
date
2015-01-01      equity                       15.658571            -2.04852
2015-02-01      equity                       16.563206             7.53990
2015-03-01      equity                       16.421457            -0.81181
2015-04-01      equity                       17.393306             4.27019
2015-05-01      equity                       16.317634            -0.17374
...                ...                             ...                 ...
2016-08-01      equity                       10.459817            -4.63166
2016-09-01      equity                       10.144318            -3.02103
2016-10-01      equity                       10.423857             2.76025
2016-11-01      equity                       10.176843            -2.37913
2016-12-01      equity                       10.769338             5.85692

[25086 rows x 3 columns]

Now we can use the year column and group the data by year to get some yearly aggregate.

In [65]:
etf['primary_key'] = etf['Ticker'] + etf['month'].astype(str) + etf['year'].astype(str) + etf['Currency_Code']
ticker_time_grouped = etf.groupby(['year','primary_key'], 
                                  as_index=False)['total_mkt_val_net_USD_millions'].mean()
ticker_time_grouped

        year    primary_key  total_mkt_val_net_USD_millions
0       2015  AADR102015USD                       16.420743
1       2015  AADR112015USD                       18.616954
2       2015   AADR12015USD                       15.658571
3       2015  AADR122015USD                       19.220635
4       2015   AADR22015USD                       16.563206
...      ...            ...                             ...
133792  2021   ZROZ52021USD                      289.900362
133793  2021   ZROZ62021USD                      393.892174
133794  2021   ZROZ72021USD                      474.442655
133795  2021   ZROZ82021USD                      411.727046
133796  2021   ZROZ92021USD                      401.812530

[133797 rows x 3 columns]

The Pandas `Series` also has `nlargest` method that easily provides specified number of the largest value in that columns.

In [66]:
ticker_time_grouped['total_mkt_val_net_USD_millions'].nlargest(10)

122252    1552312.55
122266    1486129.68
122258    1479001.04
122260    1460578.11
122264    1459921.05
122246    1451140.00
94433     1413612.00
122256    1402158.30
122262    1398117.75
122248    1384765.20
Name: total_mkt_val_net_USD_millions, dtype: float64

Since the result includes index, we can use these index to findout other details of these n-largest values.

In [67]:
idx = ticker_time_grouped['total_mkt_val_net_USD_millions'].nlargest(25).index
idx

Int64Index([122252, 122266, 122258, 122260, 122264, 122246,  94433, 122256,
            122262, 122248, 122268,  94435, 132270, 122250, 132272, 132276,
             70122,  94431, 132290,  70117, 122254, 132288,  70119,  94429,
             94447],
           dtype='int64')

In [68]:
largest_portfolio = ticker_time_grouped.loc[idx]
largest_portfolio

        year       primary_key  total_mkt_val_net_USD_millions
122252  2021  MUST122021GBPUSD                     1552312.550
122266  2021   MUST82021GBPUSD                     1486129.680
122258  2021   MUST42021GBPUSD                     1479001.040
122260  2021   MUST52021GBPUSD                     1460578.110
122264  2021   MUST72021GBPUSD                     1459921.050
122246  2021  MUST102021GBPUSD                     1451140.000
94433   2020   MUST12020GBPUSD                     1413612.000
122256  2021   MUST32021GBPUSD                     1402158.300
122262  2021   MUST62021GBPUSD                     1398117.750
122248  2021  MUST112021GBPUSD                     1384765.200
122268  2021   MUST92021GBPUSD                     1356068.420
94435   2020  MUST122020GBPUSD                     1352161.472
132270  2021      VTI102021USD                     1350000.000
122250  2021   MUST12021GBPUSD                     1344559.581
132272  2021      VTI112021USD                     1330000.000
132276  2021      VTI122021USD                     1330000.000
70122   2019  MUST122019GBPUSD                     1324416.030
94431   2020  MUST112020GBPUSD                     1318525.899
132290  2021       VTI82021USD                     1310000.000
70117   2019  MUST102019GBPUSD                     1303074.730
122254  2021   MUST22021GBPUSD                     1281560.000
132288  2021       VTI72021USD                     1270000.000
70119   2019  MUST112019GBPUSD                     1269726.000
94429   2020  MUST102020GBPUSD                     1262528.475
94447   2020   MUST72020GBPUSD                     1254066.460

Now we see that the largest values before to Ticker `VTI`, `VOO` and `MUST` and these values span between the period of 2017 to 2020.

`Groupby` objects can also be iterated over such that we can get some information for each group. For example, we can write a for-loop program to iterate over each group and get the n-largest values for each group separately.

In [69]:
for idx, frame in ticker_time_grouped.groupby('year'):
    print(f'{idx}')
    print(frame.nlargest(3,'total_mkt_val_net_USD_millions'), end='\n\n')

2015
       year  primary_key  total_mkt_val_net_USD_millions
10889  2015  VTI52015USD                        410000.0
10887  2015  VTI42015USD                        406000.0
10883  2015  VTI22015USD                        405000.0

2016
       year   primary_key  total_mkt_val_net_USD_millions
24205  2016  VTI122016USD                        500000.0
24201  2016  VTI112016USD                        489000.0
24221  2016   VTI92016USD                        471000.0

2017
       year   primary_key  total_mkt_val_net_USD_millions
38956  2017  VTI122017USD                        666000.0
38952  2017  VTI112017USD                        659000.0
38950  2017  VTI102017USD                        637000.0

2018
       year   primary_key  total_mkt_val_net_USD_millions
55542  2018   VTI92018USD                        761000.0
55540  2018   VTI82018USD                        751000.0
55522  2018  VTI112018USD                        729000.0

2019
       year       primary_key  total_mkt_val_net_USD_millions
70122  2019  MUST122019GBPUSD                      1324416.03
70117  2019  MUST102019GBPUSD                      1303074.73
70119  2019  MUST112019GBPUSD                      1269726.00

2020
       year       primary_key  total_mkt_val_net_USD_millions
94433  2020   MUST12020GBPUSD                     1413612.000
94435  2020  MUST122020GBPUSD                     1352161.472
94431  2020  MUST112020GBPUSD                     1318525.899

2021
        year       primary_key  total_mkt_val_net_USD_millions
122252  2021  MUST122021GBPUSD                      1552312.55
122266  2021   MUST82021GBPUSD                      1486129.68
122258  2021   MUST42021GBPUSD                      1479001.04

### 2d. Pivot Table

The popular Pivot Table feature of Excel can also be replicated in `pandas` using the `pivot_table` method. The  method takes the data to pivot, the column in the data that should be the row of the pivot table, the column(s) that will be the columns of the pivot table, the value to aggregate and the function to use for aggregation.

In [70]:
etf.head()

,Name,Ticker,Base_Currency,Global_Broad_Category_Group,Fund_Size_Base_Currency,Domicile,Month,Monthly_Return_Base_Currency,Total_Market_Value_Portfolio_Currency,Asset_Class,Morningstar_Rating_Overall,Carbon_Risk_Classification,Portfolio_Environmental_Risk_Score,Portfolio_Governance_Risk_Score,Portfolio_Social_Risk_Score,Currency_Code,Exchange_Rate_USD,monthly_return_USD,total_market_value_USD,total_mkt_val_net_USD_millions,date,month,year,primary_key
0,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-10-01,0.00281,9563230.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.00281,9563230.0,9.563230,2020-10-01,10,2020,AAA102020USD
1,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-11-01,0.61405,9615667.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.61405,9615667.0,9.615667,2020-11-01,11,2020,AAA112020USD
2,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2020-12-01,0.27885,9633997.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.27885,9633997.0,9.633997,2020-12-01,12,2020,AAA122020USD
3,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-01-01,0.43888,9173441.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,0.43888,9173441.0,9.173441,2021-01-01,1,2021,AAA12021USD
4,AAF First Priority CLO Bond ETF,AAA,US Dollar,Fixed Income,10002701.0,United States,2021-02-01,-0.13515,9609404.0,bond,NaN,NaN,NaN,NaN,NaN,USD,1.0,-0.13515,9609404.0,9.609404,2021-02-01,2,2021,AAA22021USD

In [71]:
return_overtime = pd.pivot_table(data=etf, 
                                    index=['month'], 
                                    columns=['year'],
                                    values=['monthly_return_USD'],
                                    aggfunc=np.mean)
return_overtime

      monthly_return_USD                                                      \
year                2015       2016      2017      2018      2019       2020
month
1              -1.324719  -5.499426  3.500937  4.522638  7.520822  -0.522051
2               5.297737   1.099189  2.276224 -3.743199  2.499822  -5.824115
3              -0.336378   8.321208  2.694356 -1.092161  0.535222 -15.097400
4               2.154138   3.522659  1.250519  0.782593  2.123599  11.852754
5               0.644208   0.581695  0.767169  1.085952 -4.204840   4.813936
6              -2.332237   0.524443  0.844144 -0.958476  4.685633   3.839874
7              -0.882155   5.255178  1.979856  1.915306  0.491032   4.525226
8              -5.370726   0.858455  0.487776  0.554815 -1.861471   3.656555
9              -3.477935   0.500232  2.601065 -0.256240  1.353665  -2.141071
10              6.283390  -1.456139  1.721251 -5.394094  1.374754  -0.448290
11             -0.670160  14.682457  1.799808  0.931265  1.904450  10.961810
12             -1.732567   1.807077  5.737353 -6.296965  2.948700   5.477156


year       2021
month
1      2.975626
2      3.989272
3      1.823757
4      2.965256
5      1.503999
6      0.914606
7     -0.417877
8      1.410368
9     -2.863740
10     3.398833
11    -2.423163
12     2.340254